
:root{
--text2 : #878d97
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--background);
}
.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background);
    color: var(--text);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.nav-container{
    margin-left: 7rem;
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    font-size: 1.2rem;  
}
.main-container{
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-areas: 
    " movies upcoming";
    gap: 3rem ;
}
.search{ 
    display: flex; width: 27%; gap: 0.3rem; background-color: var(--primary-button); border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
}
.search input{
    width: 85%;
    background-color: var(--primary-button);
    border-radius: 10px;
    color: var(--text);
    padding: 0.4rem;
    font-size: 1rem;
}
.menu{
grid-area: menu;
width: 65%;
display: flex;
flex-direction: column;
gap: 1rem;
background-color: var(--background);
color: var(--text);
padding: 1.3rem;
align-items: center;
justify-content: space-between;
}
.menu p{
    text-align: center;
}
.menu-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 0.9rem;
}
.movies{
   width: 100%;
    grid-area: movies;
    display: flex;
    gap: 2rem
    ;
    flex-direction: column;
}
.upcoming{
    grid-area: upcoming;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    color: var(--text);
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
height: 75%;    
max-height: 125vh;
}
.upcoming-wrapper{
max-height: 125vh;
overflow-y: scroll;
height: 100%;
}
.user-recommend h2,
.top-rated-movies h2,
.trendig-movies h2 {
color: var(--text);
font-size: 1.2rem;
margin-bottom: 1rem;
text-align: center;
}
.movie-container{
   display: flex;
   gap: 1rem;
   color: var(--text);
   width: 45%;
   max-width: 350px;
   justify-content: center;
   align-items: center;
}
.btn{
    color: aliceblue;
    left: -20px;
}
.movie-cover{
  display: flex;
    width: 100%;
    gap: 1.3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie-container{
    width: 100%;
    max-width: 625px;
    padding: 1.5rem;
    position: relative;
}

.img-background{
    position: absolute;
    max-width: 100%;
    width: 100%;
    bottom: 0;
    /* filter:blur(0.5px) ; */
    z-index: -1;
    object-fit: cover;
    opacity: 0.35;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.img-background-container{ 
max-height: 350px;
height: 20rem;
}

.movieimg{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    -webkit-border-radius: 10px;
}

.movie-img{
display: flex;
justify-content: center;
align-items: center;
    border-radius: 10px;
    width: 50%;
    height: 20rem;
    object-fit: cover;
    -webkit-border-radius: 10px;
}
.movie-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    color: var(--background);
}
.movie-info h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}
.topRated-img{
    border-radius: 10px;
    width: 135px;
    height: 200px;
    object-fit: cover;
    -webkit-border-radius: 10px;
}
.upcoming-movie{
   padding: 1rem;
}
.upcoming-img{
    border-radius: 10px;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    -webkit-border-radius: 10px;
}
.upcoming-movie p {
color: var(--text2);
}

.upcoming-wrapper::-webkit-scrollbar{
    width: 4px;
    background: var(--background);
}

.upcoming-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--background);    /* color of the scroll thumb */
    border: solid var(--text2   );  /* creates padding around scroll thumb */
}
.top-rated-movies{
    background-color: var(--background);
    padding: 1.2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.top-rated-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-rated-movie h5{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}
body::-webkit-scrollbar{
width: 4px;
background: var(--background);
}
body::-webkit-scrollbar-thumb {
border-radius: 2px;
background-color: var(--text2);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
}
.user-section{
   gap: 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.user-img{
    width: 40px;
    height: 40px;
    background: #e8e8e8;
    border-radius: 100%;
}
.user-info h6,p{
    font-size: 0.8rem;
}
.trendig-movies{
    padding: 1.2rem;
    background-color: var(--background);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.user-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.popular-serie{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.popular-img{
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 350px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.serie-genres{
display: flex;
align-items: center;
gap: 0.35rem;
}
.serie-genres p{
    font-size: 0.9rem;
    color: var(--text2);
  border: 1px solid var(--text2);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.user-recommend{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.movies-recommend{ display: flex; gap: 1.2rem; width: 100%; 
}
.img-recommend{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    -webkit-border-radius: 10px;
}
.footer-container{
    width: 100%;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}
.footer-logo{
margin-top: 1rem;
}
.footer-links{
    display: flex;
    gap: 1rem;
}
footer p{
    font-size: 0.8rem;
}
footer a{
    color: var(--text);
    text-decoration: none;
}
footer a:hover{
    color: var(--text2);
}
.btn-details{
    display: flex;
    height: 2.5em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-button);
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
   .btn-details span{
    font-size: 0.8rem;
    color: var(--text);
   }
   .btn-details:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   .btn-details:hover {
    transform: translateY(-2px);
   }
.hamburger{
    display: none;
}
.mobile-nav,
.search-mobile{
    display: none;
}
@media screen and (max-width:670px) {
    body{
        background-color: var(--background);
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.5rem;
        background-color: var(--background);
        color: var(--text);
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .header-container h1{

        font-size: 1.5rem;
    }
    .nav-container{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .menu{
        display: none;
    }
    /*MAIN  CONTAINER*/
    .main-container{
        margin-top: 0.6rem;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    /*MAIN  CONTAINER*/

    /*TRENDING MOVIES*/
    .movie-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    }
    .img-background{
        display: none;
    }

    .trendig-movies{
        gap: 0.1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .trendig-movies h2{
        margin-bottom: 0;
    }
    .movie-container p {
        display: none;
    }
    .movie-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
    }
    /*TRENDING MOVIES*/

    /*Top Rated*/

    .mobile-movie-img{
    width: 90%;
    display: flex;
    align-items: center;
    height: 200px;
    }
    
    .mobile-nav{
        width: 100%;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
    }
        .footer-container{
            gap: 0.5rem;
        }
        .btn{
            display: none;
        }
        .top-rated-movies{
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            align-items: center;
            position: relative;
        }
        .movie-cover{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    .topRated-img{
        width: 35%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        object-fit: cover;
    }
    /*Top Rated*/
     /*User Recommend*/
.user-recommend{

    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}
.movies-recommend{

    width: 100%;
}
.img-recommend{
    height: 175px;
}
.upcoming-movie{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upcoming-img{

    width: 75%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
     /*User Recommend*/
}

.btn-see-more{
    top:2;
    left: 2;
    position: absolute;
}