@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: var(--background);
}

.user{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 80%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.user .left{
  width: 35%;
  background-color: var(--accent);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.user .left img{

  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit:cover;
  object-position: center;

}

.user .left h4{
  margin-bottom: 10px;
}

.user .left p{
  font-size: 12px;
}

.user .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user .right .info,
.user .right .projects{
  margin-bottom: 25px;
}

.user .right .info h3,
.user .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.user .right .info_data,
.user .right .projects_data{
  display: flex;
  justify-content: space-between;

}

.user .right .info_data .data,
.user .right .projects_data .data{
  width: 45%;
}

.user .right .info_data .data h4,
.user .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.user .right .info_data .data p,
.user .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.projects{
  margin-top: 15%;
  text-align: center;
  user-select: none;
}
.info{
  text-align: center;
  margin-top: 40px;
  user-select: none;

}

.data{
   text-align: center;
}


/* CAROUSEL STYLES */

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}

.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
  user-select: none;
}
.carousel img{
  height: 200px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 8);
  border-radius: 10%;
}
.carousel img:first-child{
  margin-left: 0px;
}

/* SWIPER STYLES */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

/* MEDIA SCREEN EVENTS */

@media screen and (max-width: 1060px) {
  .user .left img{

    height: 230px;
    width: 230px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 4);
  }
  .user .left img{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
}
@media screen and (max-width: 756px) {
  .user .left img{

    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
}
@media screen and (max-width: 614px) {
  .user .left img{

    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: calc(100% / 3);
  }
  .user .left img{

    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
}
@media screen and (max-width: 500px) {

  .user{
    position: absolute;
    width: 90%;
    height: 90%;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    display: grid;
    border-radius: 3%;
  }
  
  .user .left{
    height: 100%;
    width: 100%;
    background-color: var(--accent);
    text-align: center;
    color: #fff;
  }
  
  .user .left img{
  
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
  
  .user .right{
    height: 100%;
    width: 100%;
    background: #fff;
  }

  .carousel img{
    height: 120px;
    margin-left: 14px;
    width: calc(100% / 4);
  }
  
  .projects{
    margin-top: 5%;
    text-align: center;
    user-select: none;
    height: 40%;
    width: 90%;
  }
  .info{
    text-align: center;
    margin-top: 5%;
    user-select: none;
  }
  
  .data{
    text-align: center;
  }

  .swiper {
    width: 10%;
    height: 10%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }
  
}
@media screen and (max-width: 400px) {
  .carousel img{
    width: calc(100% / 3);
  }
  .user .left img{

    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
}
@media screen and (max-width: 350px) {
  .carousel img{
    width: calc(100% / 2);
  }
  .user .left img{

    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
  
  }
}